<!-- valine -->
{{- if .Site.Params.valine.enable -}}
<div id="vcomments" style="background-color: var(--theme); margin-top: 15px;
  padding: 20px; border-radius: var(--radius); box-shadow: 0px 0px 10px grey;"></div>
<script type="text/javascript">
  new Valine({
      el: '#vcomments',
      appId: '{{ .Site.Params.valine.appId }}',
      appKey: '{{ .Site.Params.valine.appKey }}',
      avatar:'{{ .Site.Params.valine.avatar }}', 
      placeholder: '{{ .Site.Params.valine.placeholder }}',
      visitor: {{ .Site.Params.valine.visitor }},
      recordIP: {{ .Site.Params.valine.recordIP }}
  });
</script>
{{- end -}}

{{- if .Site.Params.waline.enable -}}
<div id="waline" style="background-color: var(--theme); margin-top: 15px;
  padding: 20px; border-radius: var(--radius); box-shadow: 0px 0px 10px grey;"></div>
<script>
    Waline.init({
        el: '#waline',
        serverURL: '//api.waline.frytea.com',
    });
</script>
{{- end -}}