<!-- valine -->
{{- if .Site.Params.valine.enable -}}
<div id="vcomments" style="background-color: var(--theme); margin-top: 15px;
  padding: 20px; border-radius: var(--radius); box-shadow: 0px 0px 10px grey;"></div>
<script type="text/javascript">
  new Valine({
      el: '#vcomments',
      appId: '{{ .Site.Params.valine.appId }}',
      appKey: '{{ .Site.Params.valine.appKey }}',
      avatar:'{{ .Site.Params.valine.avatar }}', 
      placeholder: '{{ .Site.Params.valine.placeholder }}',
      visitor: {{ .Site.Params.valine.visitor }},
      recordIP: {{ .Site.Params.valine.recordIP }}
  });
</script>
{{- else if .Site.Params.waline.enable -}}
<!-- waline -->
<div id="waline" style="background-color: var(--theme); margin-top: 15px;
  padding: 20px; border-radius: var(--radius); box-shadow: 0px 0px 10px grey;"></div>
<script>
    Waline.init({
        el: '#waline',
        serverURL: '{{ .Site.Params.waline.url }}',
        comment: {{ .Site.Params.waline.commentCount }},
        pageview: {{ .Site.Params.waline.pageviewCount }},
    });
</script>
<style>
    :root {
        --waline-border: auto;
        --waline-box-shadow: 0 12px 40px rgb(134 151 168 / 25%);
    }

    @media (prefers-color-scheme: auto) {
        body {
            --waline-box-shadow: 0 12px 40px #0f0e0d;
        }
    }
</style>
{{- else if .Site.Params.giscus.enable -}}
<!-- giscus -->
<script src="https://giscus.app/client.js"
        data-repo='{{ .Site.Params.giscus.repo }}'
        data-repo-id='{{ .Site.Params.giscus.repoID }}'
        data-category='{{ .Site.Params.giscus.category }}'
        data-category-id='{{ .Site.Params.giscus.categoryID }}'
        data-mapping='{{ .Site.Params.giscus.mapping }}'
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{{- end -}}

